*{
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url('./../assets/negative-space-black-forest-dawn.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    border: hidden;
}

.floatleft {
    padding: 7px 7px 7px;
    
}

.span1 {

margin: 20px; /** Change this value to whatever you wish **/
}

.span2 {

    margin: 20px; /** Change this value to whatever you wish **/
    }

.span3 {

        margin: 20px; /** Change this value to whatever you wish **/
        }

.floatright {
    display: flex;
    padding: 2% 6%;
    float: right;
    position: relative;
    list-style-type: none;
    color: #FFFFFF;

}

  a:link {
    text-decoration: none;
    color:#FFFFFF;
}

a:visited {
    text-decoration: none;
    color:#FFFFFF;
}

a:hover {
    text-decoration: none;
    color:#FFFFFF;
}

a:active {
    text-decoration: none;
    color:#FFFFFF;
}

.text-box {
    width: 90%;
    color:#FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h2 {
    font-size: 25px;
    margin: 10px 0 40px;
}

.text-box p {
    font-size: 18px;
    margin: 10px 0 40px;
}

@media(max-width: 700px){

    .floatright{
        float: right;
        display: block;
        left: -30%;
    }

/* horizontal threline nav bar */
.navbar {
    width: 60px;
    display: block;
    margin: -13px auto;
    padding: 15px 15px;
    transform: translate(170%, 0%);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .navbar div {
    height: 5px !important;
    background: #fff;
    margin: 7px 0px 7px 0px;
    border-radius: 25px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .two {
    width: 35px;
  }
  
  .three {
    width: 50px;
  }
  
  .navbar:hover div {
    width: 60px;
  }
  

    }

    