body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

.bground {
    background-image: url('./../assets/negative-space-black-forest-dawn.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    width:100vw;
    justify-content: center;
}

.rubriker {
    flex-direction: column;
    position: relative;
    justify-content: center;
    text-align: center;
    top: 30%;
}

/*@media screen {
    display: flex;
    height: 100;
    background-image: url(../src/negative-space-black-forest-dawn.jpg);
    background-size: cover;
    background-position: center;
    width:100;
    justify-content: center;
}
/*