*{
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url('./../assets/negative-space-black-forest-dawn.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    border: hidden;
}


.span1 {

margin: 20px; /** Change this value to whatever you wish **/
}

.span2 {

    margin: 20px; /** Change this value to whatever you wish **/
    }

.span3 {

        margin: 20px; /** Change this value to whatever you wish **/
        }

.floatright {
    display: flex;
    padding: 2% 6%;
    float: right;
    position: relative;
    color: #FFFFFF;

}

.floatleft li {
    float: left;
    list-style-type: none;
  }

  a:link {
    text-decoration: none;
    color:#FFFFFF;
}

a:visited {
    text-decoration: none;
    color:#FFFFFF;
}

a:hover {
    text-decoration: none;
    color:#FFFFFF;
}

a:active {
    text-decoration: none;
    color:#FFFFFF;
}



.text-box {
    width: 90%;
    color:#FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h2 {
    font-size: 25px;
    margin: 10px 0 40px;
}

.text-box p {
    font-size: 18px;
    margin: 10px 0 40px;
}

@media(max-width: 700px){

    li {
        display: inline-block;
        width: 100%;
        padding: 0;
    }
.floatright {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}

    }

    